body {
    background-color: #F5F6F7;
} 
.logo {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.id {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

#id {
    width: 490px;
    height: 45px;
    font-size: 16px;
    margin-left: 5px;
}
.password {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#password {
    width: 490px;
    height: 45px;
    font-size: 16px;
    margin-left: 5px;
}

.login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#login {
    background-color: #1EC800;
    width: 500px;
    height: 43px;
    border: none;
    font-size: 16px;
}

input[type="text"]:focus {
    outline: none;
}

input[type="password"]:focus {
    outline: none;
}

#login {
    color: white;
}